<% @page_title = t('user.edit_profile') %>

<div class="stroke-block">
    <div class="t p"><div class="cn l"></div><div class="center"></div><div class="cn r"></div></div>
    <div class="cg-cont">
        <div class="form registration">
			<h1><%= t('user.edit_profile') %></h1>
			<% form_for :user, @user, :url => user_path(@user), :html => {:method => :put} do |f| -%>
			  <%= render :partial => "users/form", :object => f %>

			  <div style="padding-top: 30px;"><%= f.submit t('button.update') %></div>
			<% end -%>
		</div>
	</div>
    <div class="b p"><div class="cn l"></div><div class="center"></div><div class="cn r"></div></div>
</div>
