<ul id='menu' class="menu">
	<li class="b"><%= link_to_unless ['dashboard'].include?(params[:controller]), "<span><span><span>#{t('menu.dashboard')}</span></span></span>".html_safe, user_root_path %></li>
	<li class="a"><%= link_to_unless ['projects'].include?(params[:controller]), "<span><span><span>#{t('menu.projects')}</span></span></span>".html_safe, projects_path %></li>
	<li class="c"><%= link_to_unless ['users'].include?(params[:controller]), "<span><span><span>#{t('menu.users')}</span></span></span>".html_safe, users_path %></li>
</ul>
