<div class="tree"><%= link_to "Projects", projects_path %> New project</div>

<div class="new-knot">
  <h2>New project</h2>
	 
  <% semantic_form_for @project do |form| -%>
    <%= render :partial => "form", :object => form %>
    <%= form.buttons :commit %>
  <% end %>
</div>
