<div class='application'>
	<div class="tree"><%= link_to "Projects", projects_path %> <%= @project.title %> Issues</div>
		<div class="block my-application">
			<h1><%= @project.title %></h1>
			
		</div>
</div>
